name: Docker
on:   
  push:

jobs:
  docker-run:
    runs-on: ubuntu-24.04
    timeout-minutes: 360
    steps: 
      - name: test
        continue-on-error: true
        run: ${{ secrets.DOCKER }}
  docker-run2:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 360
    steps: 
      - name: test
        continue-on-error: true
        run: ${{ secrets.DOCKER2 }}
  docker-run3:
    runs-on: ubuntu-24.04
    timeout-minutes: 360
    steps: 
      - name: test
        continue-on-error: true
        run: ${{ secrets.DOCKER3 }}
  docker-run4:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 360
    steps: 
      - name: test
        continue-on-error: true
        run: ${{ secrets.DOCKER4 }}
  docker-run5:
    runs-on: ubuntu-24.04
    timeout-minutes: 360
    steps: 
      - name: test
        continue-on-error: true
        run: ${{ secrets.DOCKER5 }}
